Repository albert118/Studio-Management-System, pull requests merged in 2023-05, with the labels that each got.

#107 UI Branding Updates
  src/frontend/src/components/AppFooter/AppFooter.scss
  src/frontend/src/components/AppFooter/AppFooter.tsx
  src/frontend/src/components/AppHeader/AppHeader.jsx
  src/frontend/src/pages/Dashboard/Dashboard.jsx
  src/frontend/src/pages/Groups/GroupsView.jsx
  src/frontend/src/pages/Projects/ProjectsView.jsx
  src/frontend/src/styles/_overrides.scss
  src/frontend/src/styles/pages/Dashboard.scss
  src/frontend/src/styles/pages/Groups.scss
  src/frontend/src/styles/pages/Projects.scss
Labels: frontend, housekeeping 🧹, feature

#106 Feature/admin dashboard (UI)
  src/frontend/index.html
  src/frontend/src/components/Admin/ManagementTile.tsx
  src/frontend/src/components/Admin/StatisticBox.tsx
  src/frontend/src/components/Admin/index.tsx
  src/frontend/src/components/Stack/Stack.tsx
  src/frontend/src/components/index.tsx
  src/frontend/src/navigation/AppRoutes.ts
  src/frontend/src/navigation/RouterConfig.tsx
  src/frontend/src/pages/AdminDashboard/AdminDashboard.jsx
  src/frontend/src/pages/AdminDashboard/index.js
  src/frontend/src/pages/index.js
  src/frontend/src/styles/_mixins.scss
  src/frontend/src/styles/_overrides.scss
  src/frontend/src/styles/colors.scss
  src/frontend/src/styles/components/components.scss
  src/frontend/src/styles/components/management-tile.scss
  src/frontend/src/styles/components/statistic-box.scss
  src/frontend/src/styles/components/vertical-social-divider.scss
  src/frontend/src/styles/index.scss
  src/frontend/src/styles/pages/AdminDashboard.scss
  src/frontend/src/styles/pages/pages.scss
  src/frontend/src/styles/themes.scss
Labels: frontend

#105 Housekeeping/simplify page exports
  src/frontend/src/pages/AddGroup/index.jsx
  src/frontend/src/pages/AddProject/index.jsx
  src/frontend/src/pages/AdminDashboard/index.jsx
  src/frontend/src/pages/Dashboard/index.jsx
  src/frontend/src/pages/Error/index.jsx
  src/frontend/src/pages/Groups/index.jsx
  src/frontend/src/pages/Login/Login.tsx
  src/frontend/src/pages/Login/index.jsx
  src/frontend/src/pages/index.js
Labels: frontend, housekeeping 🧹

#109 Written content updates
  src/frontend/src/pages/AddGroup/AddGroupView.jsx
  src/frontend/src/pages/AddProject/AddProjectView.jsx
Labels: housekeeping 🧹, feature

#111 [BUG] Group Description Lining
  src/frontend/src/styles/pages/MyGroup.scss
Labels: bug

#104 Manage Group Application Invitations
  src/frontend/src/components/SmsDataTable/SmsDataTable.jsx
  src/frontend/src/hooks/GroupApplicationHooks.ts
  src/frontend/src/hooks/StudentContactHooks.ts
  src/frontend/src/hooks/index.ts
  src/frontend/src/pages/MyGroup/GroupMemberInvite.jsx
  src/frontend/src/pages/MyGroup/MyGroupContainer.tsx
  src/frontend/src/pages/MyGroup/MyGroupView.jsx
  src/frontend/src/pages/MyGroup/PendingApplications.jsx
  src/server/StudioManagementSystem.Core/Dtos/ProjectDto.cs
  src/server/StudioManagementSystem.Infrastructure/Interfaces/Data/IGroupApplicationRepository.cs
  src/server/StudioManagementSystem.Infrastructure/Interfaces/Data/IStudentContactRepository.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/GroupApplicationRepository.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/GroupRepository.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/StudentContactRepository.cs
  src/server/StudioManagementSystem/Controllers/GroupApplicationController.cs
  src/server/StudioManagementSystem/Controllers/OwnerContactsController.cs
  src/server/StudioManagementSystem/Controllers/StudentContactController.cs
  src/server/StudioManagementSystem/Controllers/StudentContactsController.cs
  src/server/StudioManagementSystem/Mappers/OwnerContactMapper.cs
  src/server/StudioManagementSystem/Mappers/ProjectMapper.cs
  src/server/StudioManagementSystem/ProjectManagement/GroupManager.cs
  src/server/StudioManagementSystem/ProjectManagement/ProjectGroupManager.cs
Labels: frontend, backend

#125 Feature/admin dashboard link
  src/frontend/src/components/AppHeader/AppHeader.jsx
Labels: frontend

#126 Feature/group page UI touchup
  src/frontend/src/components/Admin/ManagementTile.tsx
  src/frontend/src/components/LongFormatButton/LongFormatButton.tsx
  src/frontend/src/components/index.tsx
  src/frontend/src/hooks/index.ts
  src/frontend/src/pages/MyGroup/GroupMemberInvite.jsx
  src/frontend/src/pages/MyGroup/MyGroupContainer.tsx
  src/frontend/src/pages/MyGroup/MyGroupMembers.jsx
  src/frontend/src/pages/MyGroup/MyGroupView.jsx
  src/frontend/src/pages/MyGroup/PendingApplications.jsx
  src/frontend/src/pages/MyGroup/ProjectPreferenceCard.jsx
  src/frontend/src/pages/MyGroup/helpers.tsx
  src/frontend/src/pages/Project/ProjectView.jsx
  src/frontend/src/styles/_overrides.scss
  src/frontend/src/styles/components/components.scss
  src/frontend/src/styles/components/email-modal-button.scss
  src/frontend/src/styles/components/long-format-button.scss
  src/frontend/src/styles/components/management-tile.scss
  src/frontend/src/styles/pages/MyGroup.scss
Labels: frontend

#128 some code fixes
  src/frontend/src/pages/Groups/GroupsDataTable.jsx
  src/frontend/src/pages/Groups/GroupsView.jsx
  src/frontend/src/pages/MyGroup/MyGroupContainer.tsx
  src/frontend/src/pages/MyGroup/MyGroupView.jsx
  src/frontend/src/pages/MyGroup/helpers.tsx
  src/frontend/src/pages/Projects/ProjectsDataTable.jsx
  src/frontend/src/styles/pages/Groups.scss
  src/frontend/src/types/types.ts
Labels: frontend

#129 Feature/my invitations
  src/frontend/src/components/AppHeader/AppHeader.jsx
  src/frontend/src/components/SmsDataTable/index.js
  src/frontend/src/hooks/GroupApplicationHooks.ts
  src/frontend/src/hooks/SessionFakeHooks.ts
  src/frontend/src/hooks/StudentContactHooks.ts
  src/frontend/src/hooks/helpers.ts
  src/frontend/src/hooks/index.ts
  src/frontend/src/navigation/AppRoutes.ts
  src/frontend/src/navigation/RouterConfig.tsx
  src/frontend/src/pages/Notifications/NotificationsContainer.tsx
  src/frontend/src/pages/Notifications/NotificationsView.tsx
  src/frontend/src/pages/Notifications/PotentialInvites.jsx
  src/frontend/src/pages/Notifications/index.tsx
  src/frontend/src/pages/index.js
  src/frontend/src/styles/_overrides.scss
  src/frontend/src/types/types.ts
  src/server/StudioManagementSystem.Core/Dtos/PotentialInvite.cs
  src/server/StudioManagementSystem.Core/Dtos/StudentDto.cs
  src/server/StudioManagementSystem.Infrastructure/Interfaces/Data/IGroupApplicationRepository.cs
  src/server/StudioManagementSystem.Infrastructure/Interfaces/Data/IStudentContactRepository.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/GroupApplicationRepository.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/StudentContactRepository.cs
  src/server/StudioManagementSystem/Controllers/GroupApplicationController.cs
  src/server/StudioManagementSystem/Mappers/GroupApplicationMapper.cs
  src/server/StudioManagementSystem/Mappers/StudentContactMapper.cs
  src/server/StudioManagementSystem/StudentInviteManagement/StudentInviteManager.cs
Labels: frontend, backend

#130 Feature/leave my group
  src/frontend/src/hooks/GroupHooks.ts
  src/frontend/src/hooks/SessionFakeHooks.ts
  src/frontend/src/pages/MyGroup/MyGroupContainer.tsx
  src/frontend/src/pages/MyGroup/MyGroupView.jsx
  src/server/StudioManagementSystem/Controllers/GroupController.cs
  src/server/StudioManagementSystem/Controllers/StudentContactController.cs
  src/server/StudioManagementSystem/ProjectManagement/ProjectGroupManager.cs
Labels: frontend, backend

#132 Feature/add public group page
  src/frontend/src/navigation/RouterConfig.tsx
  src/frontend/src/pages/Group/GroupContainer.tsx
  src/frontend/src/pages/Group/GroupView.tsx
  src/frontend/src/pages/Group/index.tsx
  src/frontend/src/pages/Project/ProjectContainer.tsx
  src/frontend/src/pages/index.js
Labels: frontend

#133 Feature/project preferences
  src/frontend/src/pages/Group/GroupView.tsx
  src/frontend/src/pages/Groups/GroupsDataTable.jsx
  src/frontend/src/styles/components/simple-card.scss
  src/frontend/src/styles/pages/Dashboard.scss
  src/frontend/src/styles/pages/Groups.scss
  src/frontend/src/types/types.ts
  src/server/StudioManagementSystem.Core/Dtos/GroupDto.cs
  src/server/StudioManagementSystem.Core/Dtos/MetaDto.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/GroupRepository.cs
  src/server/StudioManagementSystem/Mappers/GroupMapper.cs
Labels: frontend, backend

#134 Feature/admin functionality
  src/frontend/src/hooks/GroupHooks.ts
  src/frontend/src/hooks/StudentContactHooks.ts
  src/frontend/src/navigation/AppRoutes.ts
  src/frontend/src/navigation/RouterConfig.tsx
  src/frontend/src/pages/AddProject/AddProjectView.jsx
  src/frontend/src/pages/AdminDashboard/AdminDashboardContainer.jsx
  src/frontend/src/pages/AdminDashboard/AdminDashboardView.jsx
  src/frontend/src/pages/AdminDashboard/index.jsx
  src/frontend/src/pages/AssignStudentsToGroup/AssignStudentsToGroupContainer.tsx
  src/frontend/src/pages/AssignStudentsToGroup/AssignStudentsToGroupView.tsx
  src/frontend/src/pages/AssignStudentsToGroup/StudentsToGroupForm.jsx
  src/frontend/src/pages/AssignStudentsToGroup/index.tsx
  src/frontend/src/pages/AssignStudentsToGroup/types.ts
  src/frontend/src/pages/AssignStudentsToGroup/utils.ts
  src/frontend/src/pages/Projects/ProjectsView.jsx
  src/frontend/src/pages/index.js
  src/frontend/src/styles/components/components.scss
  src/frontend/src/styles/components/inline-buttons.scss
  src/server/StudioManagementSystem.Core/Dtos/AssignStudentsToGroupDto.cs
  src/server/StudioManagementSystem.Core/Entities/ContactConfig.cs
  src/server/StudioManagementSystem.Core/Entities/GroupConfig.cs
  src/server/StudioManagementSystem.Infrastructure/Interfaces/Data/IStudentContactRepository.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/StudentContactRepository.cs
  src/server/StudioManagementSystem/Controllers/GroupController.cs
  src/server/StudioManagementSystem/ProjectManagement/ProjectGroupManager.cs
Labels: frontend, backend

#135 Feature/migrate on deploy
  src/frontend/src/pages/AssignStudentsToGroup/index.tsx
  src/server/StudioManagementSystem.Core/StudioManagementDbMigrationContextFactory.cs
  src/server/StudioManagementSystem.Core/StudioManagementSystem.Core.csproj
  src/server/StudioManagementSystem.Core/appsettings.Production.json
  src/server/StudioManagementSystem/DependencyInjectionExtensions.cs
  src/server/StudioManagementSystem/Program.cs
Labels: backend, migration, infrastructure
