Repository albert118/Studio-Management-System, pull requests merged in 2023-03, with the labels that each got.

#2 Init backend
  src/server/.gitignore
  src/server/StudioManagementSystem.Core/Entities/MySpecialObject.cs
  src/server/StudioManagementSystem.Core/StudioManagementSystem.Core.csproj
  src/server/StudioManagementSystem.Core/appsettings.json
  src/server/StudioManagementSystem.Core/global.json
  src/server/StudioManagementSystem.Infrastructure/AsyncDbContext.cs
  src/server/StudioManagementSystem.Infrastructure/InstanceScopedSericeAttribute.cs
  src/server/StudioManagementSystem.Infrastructure/StudioManagementSystem.Infrastructure.csproj
  src/server/StudioManagementSystem.sln
  src/server/StudioManagementSystem/CancellationTokenAccessor.cs
  src/server/StudioManagementSystem/DatabaseSettings.cs
  src/server/StudioManagementSystem/DependencyInjectionExtensions.cs
  src/server/StudioManagementSystem/InstanceScopedBusinessServiceAttribute.cs
  src/server/StudioManagementSystem/Program.cs
  src/server/StudioManagementSystem/Properties/launchSettings.json
  src/server/StudioManagementSystem/Startup.cs
  src/server/StudioManagementSystem/StudioManagementSystem.csproj
  src/server/StudioManagementSystem/appsettings.Development.json
  src/server/StudioManagementSystem/appsettings.json
Labels: housekeeping 🧹

#3 moved UI project to avoid nesting
  src/frontend/.gitignore
  src/frontend/README.md
  src/frontend/my-app/package-lock.json
  src/frontend/my-app/package.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/public/favicon.ico
  src/frontend/public/index.html
  src/frontend/public/logo192.png
  src/frontend/public/logo512.png
  src/frontend/public/manifest.json
  src/frontend/public/robots.txt
  src/frontend/src/App.css
  src/frontend/src/App.test.tsx
  src/frontend/src/App.tsx
  src/frontend/src/index.css
  src/frontend/src/index.tsx
  src/frontend/src/logo.svg
  src/frontend/src/react-app-env.d.ts
  src/frontend/src/reportWebVitals.ts
  src/frontend/src/setupTests.ts
  src/frontend/tsconfig.json
Labels: housekeeping 🧹

#4 added a readme to the backend project
  src/server/README.md
Labels: documentation, housekeeping 🧹

#35 Added infrastructure and DB context
  src/server/StudioManagementSystem.Infrastructure/DataServices/MySpecialObjectDBContextAsync.cs
  src/server/StudioManagementSystem.Infrastructure/Interfaces/Data/IMySpecialObjectRepositoryAsync.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/MySpecialObjectRepositoryAsync.cs
  src/server/StudioManagementSystem.Infrastructure/StudioManagementSystem.Infrastructure.csproj
Labels: backend, infrastructure

#32 Feature 13/revproxy
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  database/000-init-dependencies.sql
  database/Dockerfile
  database/README.md
  database/bootstrap-nginx.sql
  docker-compose.yml
  nginx/.gitignore
  nginx/nginx/default_host/site.conf
  src/frontend/Dockerfile
Labels: documentation, frontend, infrastructure

#37 Fix gitignore for *.env
  .gitignore
Labels: housekeeping 🧹

#38 Config and Refactoring
  .gitignore
  src/frontend/.gitignore
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/assets/radial.png
  src/frontend/src/components/AppFooter/AppFooter.scss
  src/frontend/src/components/AppFooter/AppFooter.tsx
  src/frontend/src/components/AppHeader/AppHeader.scss
  src/frontend/src/components/AppHeader/AppHeader.tsx
  src/frontend/src/config/ApiConfig.ts
  src/frontend/src/config/BrandConfig.ts
  src/frontend/src/config/index.ts
  src/frontend/src/config/routeConfig.tsx
  src/frontend/src/index.scss
  src/frontend/src/main.tsx
  src/frontend/src/navigation/AppRoutes.ts
  src/frontend/src/navigation/RouterConfig.tsx
  src/frontend/src/pages/Dashboard/Dashboard.scss
  src/frontend/src/pages/Dashboard/Dashboard.tsx
  src/frontend/src/pages/Error/Error.tsx
  src/frontend/src/pages/Group/Group.tsx
  src/frontend/src/pages/Layout.tsx
  src/frontend/src/pages/Project/Project.tsx
  src/frontend/src/pages/index.ts
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Labels: frontend, housekeeping 🧹, infrastructure

#39 Add Styling Stuff and CSS Resets+Normalisations
  .vscode/extensions.json
  .vscode/settings.json
  src/frontend/.prettierrc
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/.eslintrc.json
  src/frontend/src/components/AppHeader/AppHeader.tsx
  src/frontend/src/index.scss
  src/frontend/src/main.tsx
  src/frontend/src/styles/components/components.scss
  src/frontend/src/styles/index.scss
  src/frontend/src/styles/pages/pages.css
  src/frontend/src/styles/resets/normalise.css
  src/frontend/src/styles/resets/reset.css
  src/frontend/src/styles/resets/resets.css
  src/frontend/src/styles/resets/typography.css
Labels: frontend, feature

#43 Moved config to where it belongs
  src/frontend/.eslintrc.json
Labels: housekeeping 🧹

#41 Dashboard Content
  src/frontend/.prettierrc
  src/frontend/src/assets/logo.jpg
  src/frontend/src/components/AppFooter/AppFooter.tsx
  src/frontend/src/components/AppHeader/AppHeader.scss
  src/frontend/src/navigation/AppRoutes.ts
  src/frontend/src/pages/Dashboard/Dashboard.scss
  src/frontend/src/pages/Dashboard/Dashboard.tsx
  src/frontend/src/pages/Dashboard/_mixins.scss
  src/frontend/src/styles/_overrides.scss
  src/frontend/src/styles/components/components.scss
  src/frontend/src/styles/index.scss
  src/frontend/src/styles/pages/pages.css
  src/frontend/src/styles/pages/pages.scss
Labels: frontend, feature

#49 Feature/48 Groups (List View)
  src/frontend/src/components/AppHeader/AppHeader.tsx
  src/frontend/src/components/Forms/FormContainer.tsx
  src/frontend/src/components/Forms/Stack.tsx
  src/frontend/src/components/Forms/index.ts
  src/frontend/src/components/SmsDataTable/DataTableInterfaces.ts
  src/frontend/src/components/SmsDataTable/SmsDataTable.jsx
  src/frontend/src/components/SmsDataTable/index.js
  src/frontend/src/components/SmsDataTable/utils.ts
  src/frontend/src/navigation/AppRoutes.ts
  src/frontend/src/navigation/RouterConfig.tsx
  src/frontend/src/pages/AddGroup/AddGroupContainer.tsx
  src/frontend/src/pages/AddGroup/AddGroupView.tsx
  src/frontend/src/pages/AddGroup/TrippleSelectDropdown.tsx
  src/frontend/src/pages/AddGroup/index.ts
  src/frontend/src/pages/AddGroup/types.ts
  src/frontend/src/pages/Group/Group.tsx
  src/frontend/src/pages/Groups/GroupsContainer.tsx
  src/frontend/src/pages/Groups/GroupsDataTable.tsx
  src/frontend/src/pages/Groups/GroupsView.tsx
  src/frontend/src/pages/Groups/index.ts
  src/frontend/src/pages/Groups/types.ts
  src/frontend/src/pages/index.ts
  src/frontend/src/styles/_mixins.scss
  src/frontend/src/styles/components/Forms/_overrides.scss
  src/frontend/src/styles/components/Forms/forms.scss
  src/frontend/src/styles/components/components.scss
  src/frontend/src/styles/pages/AddGroup.scss
  src/frontend/src/styles/pages/Dashboard.scss
  src/frontend/src/styles/pages/Groups.scss
  src/frontend/src/styles/pages/pages.scss
Labels: frontend
