Repository albert118/Studio-Management-System, pull requests merged in 2023-04, with the labels that each got.

#51 SupaBase Authentication PoC
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/AppHeader/AppHeader.tsx
  src/frontend/src/config/ApiConfig.ts
  src/frontend/src/main.tsx
  src/frontend/src/navigation/RouterConfig.tsx
  src/frontend/src/pages/Login/Login.tsx
  src/frontend/src/pages/index.ts
Labels: frontend, infrastructure

#62 Bug/duplicate import system
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/AppHeader/AppHeader.jsx
  src/frontend/src/components/SmsDataTable/SmsDataTable.jsx
  src/frontend/src/pages/AddGroup/AddGroupView.jsx
  src/frontend/src/pages/AddGroup/TrippleSelectDropdown.jsx
  src/frontend/src/pages/AddGroup/types.ts
  src/frontend/src/pages/Dashboard/Dashboard.jsx
  src/frontend/src/pages/Groups/GroupsDataTable.tsx
  src/frontend/src/pages/Groups/GroupsView.jsx
  src/frontend/src/pages/Layout.jsx
  src/frontend/src/pages/Layout.tsx
  src/frontend/src/pages/Projects/ProjectsDataTable.tsx
  src/frontend/src/pages/Projects/ProjectsView.jsx
  src/frontend/src/pages/index.js
  src/frontend/src/styles/index.scss
  src/frontend/tsconfig.json
Labels: bug, frontend

#63 bug/Fix (dead) fonts
  src/frontend/src/components/AppFooter/AppFooter.scss
  src/frontend/src/components/AppHeader/AppHeader.jsx
  src/frontend/src/main.tsx
  src/frontend/src/navigation/RouterConfig.tsx
  src/frontend/src/pages/Dashboard/Dashboard.jsx
  src/frontend/src/pages/Login/Login.tsx
  src/frontend/src/styles/components/Forms/forms.scss
  src/frontend/src/styles/index.scss
  src/frontend/src/styles/pages/Dashboard.scss
  src/frontend/src/styles/resets/normalise.css
  src/frontend/src/styles/resets/reset.css
  src/frontend/src/styles/resets/resets.css
  src/frontend/src/styles/resets/typography.css
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Labels: bug, frontend

#70 Feature/create group wiring
  src/frontend/src/hooks/GroupHooks.ts
  src/frontend/src/pages/AddGroup/AddGroupContainer.tsx
  src/frontend/src/pages/AddGroup/AddGroupView.jsx
  src/frontend/src/pages/AddGroup/TrippleSelectDropdown.jsx
  src/frontend/src/pages/AddGroup/Validators.ts
  src/frontend/src/pages/AddGroup/types.ts
  src/frontend/src/pages/AddGroup/useSubmissionValidator.ts
  src/frontend/src/types/types.ts
  src/server/StudioManagementSystem.Core/Dtos/CreateGroupDto.cs
  src/server/StudioManagementSystem.Core/Dtos/PreferenceOptionsDto.cs
  src/server/StudioManagementSystem.Core/Entities/Group.cs
Labels: frontend

#84 Feature/82 real owner contact data
  src/frontend/src/hooks/ProjectHooks.ts
  src/frontend/src/hooks/index.ts
  src/frontend/src/pages/AddProject/AddProjectContainer.tsx
  src/frontend/src/pages/AddProject/utils.ts
  src/frontend/src/pages/Project/ProjectContainer.tsx
  src/frontend/src/pages/Project/ProjectView.jsx
  src/frontend/src/pages/Projects/ProjectsContainer.tsx
  src/frontend/src/pages/Projects/ProjectsDataTable.jsx
  src/frontend/src/types/types.ts
  src/server/StudioManagementSystem.Core/Dtos/ProjectDto.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/ProjectRepository.cs
  src/server/StudioManagementSystem/Mappers/ProjectMapper.cs
Labels: frontend, backend

#86 fix project type import
  src/frontend/src/pages/AddGroup/Validators.ts
  src/frontend/src/pages/AddGroup/usePreferenceValidtor.ts
Labels: bug

#88 Owner Contact Hook and Container
  src/frontend/src/hooks/ContactHooks.ts
  src/frontend/src/pages/AddProject/AddProjectContainer.tsx
  src/frontend/src/types/types.ts
  src/server/StudioManagementSystem/Startup.cs
Labels: frontend, feature

#89 ignore RSA keys
  .gitignore
Labels: housekeeping 🧹

#91 Bug/fix CORs
  src/frontend/src/config/ApiConfig.ts
  src/frontend/vite.config.ts
  src/server/StudioManagementSystem/Startup.cs
Labels: bug

#92 fix for ARM64
  Dockerfile
Labels: bug

#95 Feature/loading spinner
  .vscode/settings.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/Spinner/Spinner.tsx
  src/frontend/src/components/index.tsx
  src/frontend/src/pages/AddGroup/AddGroupContainer.tsx
  src/frontend/src/styles/components/components.scss
Labels: frontend, feature, dependencies

#96 Feature/93 support prod builds
  .gitignore
  Dockerfile
  README.md
  database/Dockerfile
  database/README.md
  database/bootstrap-nginx.sql
  docker-compose.yml
  nginx/.gitignore
  nginx/nginx/default_host/site.conf
  src/frontend/Dockerfile
  src/frontend/README.md
  src/frontend/nginx/default.conf
  src/frontend/nginx/includes/proxy.conf
  src/frontend/nginx/includes/ssl.conf
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/vite.config.production.ts
  src/server/Dockerfile
  src/server/README.md
  src/server/StudioManagementSystem/Program.cs
  src/server/StudioManagementSystem/Properties/launchSettings.json
  src/server/StudioManagementSystem/appsettings.Production.json
Labels: documentation, infrastructure

#98 feature/add all owner contact endpoint + hook
  src/server/StudioManagementSystem.Infrastructure/Interfaces/Data/IOwnerContactRepository.cs
  src/server/StudioManagementSystem.Infrastructure/Repositories/OwnerContactRepository.cs
  src/server/StudioManagementSystem/Controllers/OwnerContactsController.cs
Labels: frontend, backend

#103 fixed backend validation
  src/server/StudioManagementSystem.Infrastructure/Repositories/GroupApplicationRepository.cs
Labels: bug, backend
